doctype html
html
    head
        title= "Login"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
        link(rel='stylesheet', href='http://authalys.com/signin.css')
block body
    .container
        .top-content
    form.form-inline(action='/login')
            .inner-bg
                .container
                    .row
                        .col-xs-9.text
                            .optipay-title
                                strong OptiPay
                                |  Optimize your money
                        .col-xs-3.text
                            img.img-responsive(src='http://authalys.com/imgs/logo.png')
                    .row
                        .col-sm-6.col-sm-offset-3.form-box
                            .alert.alert-danger
                                strong Error!
                                |  Invalid credentials.

                    .row.payment-row
                        .col-xs-3
                        .col-xs-6
                            p
                                button.btn.btn-lg.btn-primary.btn-block(type='submit') Go back
                        .col-xs-3

