doctype html
html
    head
        title= "Login"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')
        // /.nav-collapse

.container
    .row.vertical-align
        .col-xs-3
            img.img-responsive(src='http://authalys.com/imgs/piggy.png')
        .col-xs-3
        .col-xs-6
            if sum > 0
                .balance.text-success
                    a(href='/accounts') #{sum} #{currency}
            else
                .balance.text-danger
                    a(href='/accounts') #{sum} #{currency}
    form.form-inline(action='/cash-transfer-options')
        .row.payment-row
            .col-xs-12
                .row
                    .col-xs-2
                        img.img-responsive(src='http://authalys.com/imgs/beneficiaries.png')
                    .col-xs-10
                        .form-group
                            select.form-control(placeholder='Beneficiary', name='beneficiarie')
                                option Select a beneficiary
                                each val in beneficiaries
                                    option(value=val.account_id) #{val.name}
                .row
                    .col-xs-2
                        img.img-responsive(src='http://authalys.com/imgs/money-bags.png')
                    .col-xs-10
                        .form-group
                            label.sr-only(for='inputAmount') Amount (in euros)
                            .input-group
                                .input-group-addon €
                                input#exampleInputAmount.form-control(type='text', placeholder='Amount', required=true, name='amount')
                                .input-group-addon .00
                .row
                    .col-xs-12
                .row.payment-row
                    .col-xs-3
                    .col-xs-6
                        p
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Transfer cash
                    .col-xs-3
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")