doctype html
html
    head
        title= "Cash transfered"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='#')
                strong Opti
                | Pay
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
                li.active
                    a(href='/home')
                        | Home
                        img(src='http://authalys.com/imgs/home.png')
                li.active
                    a(href='/accounts')
                        | My accounts
                        img(src='http://authalys.com/imgs/wallet.png')
                li.active
                    a(href='/beneficiaries')
                        | Beneficiaries
                        img(src='http://authalys.com/imgs/beneficiaries.png')

        // /.nav-collapse

.container
    .row.vertical-align
        .col-xs-3
            img.img-responsive(src='http://authalys.com/imgs/piggy.png')
        .col-xs-1
        .col-xs-8
            if sum > 0
                .balance.text-success
                    a(href='/accounts') #{sum} #{currency}
            else
                .balance.text-danger
                    a(href='/accounts') #{sum} #{currency}
    .row
        .col-xs-12
            .order-payment-title
                strong Order payment
                |  #SGZ-15478-45424
    .row.payment-merchant-row
        .col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-12.account-label Company
                    .row
                        .col-xs-1
                        .col-xs-11 SaGazone
    .row
        .col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-12.account-label Amount
                    .row
                        .col-xs-1
                        .col-xs-11 550 XAF
    .row.order-payment-info
        .col-xs-12
            .panel.panel-default
                .panel-body
                    .row
                        .col-xs-12.account-label Information
                    .row
                        .col-xs-1
                        .col-xs-11
                            ul
                                li 550 XAF will be transfered from your Livret A account.
    .row.payment-row
        .col-xs-2
        .col-xs-8
            form(action='/sagazone-payment-ok')
                p
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Confirm payment
        .col-xs-2
// /container


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")