doctype html
html
    head
        title= "Cash transfered"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        style.
            .navbar img {
                height: 32px !important;
                width: 170px !important;
            }

            .navbar-default {
                background-color: #232F3E;
            }

            .btn-primary {
                background: #f0c14b !important;
                border-color: #a88734 #9c7e31 #846a29 !important;
                color: #111 !important;
                width: 200px;
            }

            .form-inline {
                font-size: 20px;
            }


block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            a.navbar-brand(href='#')
                img(src='http://authalys.com/imgs/sagazone-logo.png', width='27px')
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
        // /.nav-collapse
        // /.nav-collapse

.container
    .row
        .col-xs-12
            h3
                strong Invoice number SGZ-15478-45424
    form.form-inline(action='/order-payment')
        .row.payment-row.vertical-align
            .col-xs-2 1
            .col-xs-2
                img.img-responsive(src='http://authalys.com/imgs/louboutin-shoes.jpg')
            .col-xs-5 Christian Louboutin Shoes
            .col-xs-3 500 XAF
        .row.payment-row.vertical-align
            .col-xs-4
            .col-xs-5 Shipping
            .col-xs-3 50 XAF
        .row.payment-row.vertical-align
            .col-xs-4
            .col-xs-5 Total
            .col-xs-3
                strong 550 XAF
        .row.payment-row
            .col-xs-3
            .col-xs-6
                p
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Proceed to checkout
            .col-xs-3
// /container

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")