doctype html
html
    head
        title= "Cash transfered"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        style.
            .navbar img {
                height: 32px !important;
                width: 170px !important;
            }

            .navbar-default {
                background-color: #232F3E;
            }

            .btn-primary {
                background: #f0c14b;
                border-color: #a88734 #9c7e31 #846a29;
                color: #111;
            }

            .form-inline {
                font-size: 20px;
            }

block body
nav.navbar.navbar-default.navbar-static-top
    .container
        .navbar-header
            a.navbar-brand(href='#')
                img(src='http://authalys.com/imgs/sagazone-logo.png', width='27px')
        #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.text-right
        // /.nav-collapse
        // /.nav-collapse

.container
    .row
        .col-xs-12
            h3
                strong Payment for invoice number SGZ-15478-45424
    .row.payment-row.vertical-align
        .col-xs-12.text-success(style='font-size: 30px')
            strong Payment OK !
    .row.payment-row.vertical-align
        .col-xs-2
        .col-xs-8
            img.img-responsive(src='http://authalys.com/imgs/thumb-up.png')
        .col-xs-2
// /container
// /container


script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")