doctype html
html
    head
        title= "Login"
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    body
        append styles
        link(rel='stylesheet', href='http://authalys.com/optipay.css')
        link(rel='stylesheet', href='http://authalys.com/signin.css')
block body
    .container
        .top-content
            .inner-bg
                .container
                    .row
                        .col-xs-9.text
                            .optipay-title
                                strong OptiPay
                                |  Optimize your money
                        .col-xs-3.text
                            img.img-responsive(src='http://authalys.com/imgs/logo.png')
                    .row
                        .col-sm-6.col-sm-offset-3.form-box
                            form.form-signin(name="connection-request", method="post")
                                h2.form-signin-heading Please sign in
                                label.sr-only(for='inputEmail') Email address
                                input#inputEmail.form-control(type="text", name="username", placeholder="Username", value=username)
                                label.sr-only(for='inputPassword') Password
                                input#inputPassword.form-control(type="password", name="password", placeholder="Password", value=password)
                                button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        